* {
	font-size: 20pt;
}

#url {
	font-size: 10pt;
	color: gray;
	text-align: right;
	padding-bottom: 10px;
}

input {
	display: block;
	padding: 10px 10px;
}

canvas {
	border: 1px black solid;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

button {
	padding: 10px 10px;
	
}

.center {
	width: 512;
	margin: auto;
}

.space-between {
	display: flex;
	justify-content: space-between;
}
